nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFCCFF;
  display: flex;
  justify-content: space-between; /* spreads items across */
}

nav ul li {
  flex: 1; /* each <li> grows to take equal width */
  text-align: center; /* centers the text inside */
}

nav ul li a {
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FF99CC;
}